Repository devswiftzone/swift.nvim, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci, core, feature:lsp, feature:debugger, feature:formatter, feature:linter, feature:build, feature:xcode, feature:targets, tests, dependencies

Fix Stylua formatting issues for CI compliance
  lua/swift/config.lua
  lua/swift/features/build_runner.lua
  lua/swift/features/formatter.lua
  lua/swift/features/lsp.lua
  lua/swift/features/snippets.lua
  lua/swift/features/target_manager.lua
  lua/swift/features/xcode.lua
  lua/swift/init.lua
  lua/swift/snippets/init.lua
  lua/swift/version_validator.lua
  stylua.toml
Labels: core, feature:lsp, feature:formatter, feature:build, feature:xcode, feature:targets

Fix formatting in minimal configuration example
  examples/minimal-config.lua
Labels: none

Pass `-` to swift-format to explicitly read from stdin
  lua/swift/features/formatter.lua
Labels: feature:formatter

Implement range formatting in format_selection with swift-format --offsets
  lua/swift/features/formatter.lua
Labels: feature:formatter

Fix project search order for local packages
  lua/swift/features/project_detector.lua
Labels: none

Remove blocking xcode.list_schemes from health check
  lua/swift/health.lua
Labels: none

refactor: reorganize folder structure (core and integrations)
  .github/workflows/docs.yml
  lua/swift/core/config.lua
  lua/swift/core/utils.lua
  lua/swift/features/build_runner.lua
  lua/swift/features/debugger.lua
  lua/swift/features/formatter.lua
  lua/swift/features/init.lua
  lua/swift/features/linter.lua
  lua/swift/features/project_detector.lua
  lua/swift/features/snippets.lua
  lua/swift/features/target_manager.lua
  lua/swift/health.lua
  lua/swift/init.lua
  lua/swift/version_validator.lua
Labels: ci, core, feature:debugger, feature:formatter, feature:linter, feature:build, feature:targets, dependencies

refactor: migrate vim.fn.system to vim.system for safe async execution
  lua/swift/features/formatter.lua
  lua/swift/features/linter.lua
  lua/swift/features/lsp.lua
  lua/swift/features/target_manager.lua
  lua/swift/features/xcode.lua
  lua/swift/health.lua
  lua/swift/version_validator.lua
Labels: feature:lsp, feature:formatter, feature:linter, feature:xcode, feature:targets

test: initialize test suite with plenary.nvim
  .github/workflows/ci.yml
  tests/minimal_init.lua
  tests/swift/project_detector_spec.lua
Labels: ci, tests, dependencies

feat(integrations): add telescope and nvim-dap integrations
  lua/swift/init.lua
  lua/swift/integrations/dap.lua
  lua/swift/integrations/telescope.lua
Labels: core

feat(lsp): enable inlay hints by default for Neovim 0.10+
  lua/swift/features/lsp.lua
  lua/swift/init.lua
Labels: core, feature:lsp

fix(health): remove blocking calls from checkhealth to prevent UI hang
  lua/swift/health.lua
  lua/swift/version_validator.lua
Labels: none

fix(lsp): add timeout to xcrun call in find_sourcekit_lsp
  lua/swift/features/lsp.lua
Labels: feature:lsp

test: add health speed test script
  tests/test_health_speed.lua
Labels: tests

fix(utils): replace vim.fn.glob with vim.uv.fs_scandir in find_pattern_upwards
  lua/swift/core/utils.lua
  tests/test_health_speed.lua
Labels: tests

fix(utils): replace vim.fn.glob with vim.uv.fs_scandir in find_pattern_upwards
  lua/swift/core/utils.lua
  tests/test_health_speed.lua
Labels: tests

test: add health speed test script
  tests/test_health_speed.lua
Labels: tests

fix(ci): add missing github-token to markdown-link-check action
  .github/workflows/ci.yml
Labels: ci, dependencies

Please provide the file changes or a summary of the modifications so I can generate the commit message for you.
  lua/swift/core/utils.lua
  tests/swift/project_detector_spec.lua
Labels: tests

.github/labeler.yml:

# Labeler configuration for automatic PR labeling
# https://github.com/actions/labeler

documentation:
  - '**/*.md'
  - 'docs/**/*'
  - 'examples/**/*.md'

ci:
  - '.github/workflows/**'
  - '.github/**/*.yml'

core:
  - 'lua/swift/init.lua'
  - 'lua/swift/config.lua'
  - 'plugin/**'

feature:lsp:
  - 'lua/swift/features/lsp.lua'

feature:debugger:
  - 'lua/swift/features/debugger.lua'

feature:formatter:
  - 'lua/swift/features/formatter.lua'

feature:linter:
  - 'lua/swift/features/linter.lua'

feature:build:
  - 'lua/swift/features/build_runner.lua'

feature:xcode:
  - 'lua/swift/features/xcode.lua'

feature:targets:
  - 'lua/swift/features/target_manager.lua'

tests:
  - 'tests/**'
  - '**/*_spec.lua'

dependencies:
  - 'package.json'
  - '.github/workflows/**'
